@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-py: #121063;
  --color-sy: #3ab7bf;
}

.container{
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}